// ===== converts pixels to rem
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
  }
  
// ===== media-queries
@mixin media-query ($size) {
@if $size == desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
@else if $size == tablet {
    @media screen and (min-width: 992px) {
        @content;
    }
} 
@else if $size == tablet-mini {
    @media screen and (min-width: 786px) {
        @content;
    }
} 
@else if $size == large-mobile {
    @media screen and (min-width: 602px) {
        @content;
    }
} 
@else if $size == mobile {
    @media screen and (min-width: 300px) {
        @content;
    }
} 
@else if $size == mobile-mini {
    @media screen and (min-width: 300px) {
        @content;
    }
} 
}
  
// ===== font family  
$font-primary: 'Be Vietnam', sans-serif;

// ==== font weights 
$weight-bold: 700;
$weight-regular: 500;
$weight-light: 400;

// ==== colors 
$color-accent: hsl(12, 88%, 59%);
$color-font: hsl(228, 39%, 23%); 
$color-footer-bg: hsl(233, 12%, 13%);
$color-bg: hsl(0, 0%, 95%);
$color-neutral: hsl(9, 54%, 97%);
$color-accent-active: hsl(12, 92%, 72%);

    
// // === border         
// $border-primary: 1px solid hsla(0, 0%, 77%, 0.1);

// ==== max-width
$width-max: rem(1110);

// ==== center section
$center-section: 0px auto;

// === section padding
$section-padding: rem(0) rem(24);
  
  
  // ========== CSS RESET FEATURES
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

li {
    list-style: none;
}


// ====== Remove all animations and transitions for people that prefer not to see them 
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ======= BASE STYLES
body {
    background-color: $color-bg;
    color: $color-font;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: $font-primary;
    font-size: rem(16);
    line-height: rem(28);
    font-weight: $weight-light;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
}

// ======= Typography
 h1 {
     font-size: rem(35);
     line-height: rem(45);
     font-weight: $weight-bold;

     @include media-query(desktop) {
        font-size: rem(56);
        line-height: rem(64);
        font-weight: $weight-bold;
    }
 }

 h2 {
    font-size: rem(30);
    line-height: rem(40);
    font-weight: $weight-bold;
    @include media-query(tablet) {
        font-size: rem(40);
        line-height: rem(44);
    }
 }

 h3 {
    font-size: rem(16);
    line-height: rem(28);
    font-weight: $weight-bold;
 }

.hidden {
    display: none;
}

// ======= Button 

.btn {
    padding: rem(12) rem(32) rem(16) rem(32);
    border-radius: rem(50);
    background-color: $color-accent;
    color: $color-neutral;
    font-size: rem(13);
    line-height: rem(13);
    font-weight: $weight-bold;
    box-shadow: rem(0) rem(4) rem(0) rem(0) rgba(0, 0, 0, 0.075);
    &:hover {
        transition: all 0.5s ease-in-out;
        background-color: $color-accent-active;
    }
}

.hero__bg {
    background-image: url(../images/bg-tablet-pattern-2.svg);
    background-repeat: no-repeat;
    background-size: rem(300) auto;
    background-position: rem(230) rem(490);
    @include media-query(large-mobile) {
        background-image: none;
    }
}

.intro__container {
    max-width: 100%;
    min-height: rem(0);
    padding: $section-padding;
    padding-top: rem(45);
    background-image: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: rem(400) auto;
    background-position: rem(50) rem(-50);

    @include media-query(large-mobile) {
        background-size: rem(600) auto;
        background-position: rem(300) rem(-50);
    }
    @include media-query(tablet-mini) {
        background-size: rem(700) auto;
        background-position: rem(500) rem(-150);
    }
    @include media-query(desktop) {
        padding-top: rem(60);
        background-size: rem(800) auto;
        background-position: rem(700) rem(-150);
    }
}

.header {
    max-width: 100%;
    min-height: rem(0);
    z-index: 1000;
    position: relative;

    &__inner {
        max-width: $width-max;
        min-height: rem(44);
        margin: $center-section;
        display: flex;
        align-items: center;

        @include media-query(tablet) {
            min-height: rem(64);
        }
        & > * {
            @include media-query(tablet) {
                flex: 1;
            }
        }
    }

    &__logo{ 
        flex: 10;
        @include media-query(tablet) {
            flex: 1;
            padding-top: rem(10);
        }

        img {
            max-width: rem(110);
            height: auto;

            @include media-query(tablet) {
                max-width: rem(147);
            }
        } 
    }

    &__menu {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        @include media-query(tablet) {
            justify-content: center;
            flex: 4;
        }
    }

    &__button {
        display: none;

        @include media-query(tablet) {
            display: block;   
            text-align: right;
            margin-top: rem(-8);
        }
    }
}

// ==================  Dropdown 
.hamburger {
    border: none;
    img {
        background-color: inherit;
    }
    @include media-query(tablet) {
        display: none;   
    }

    &--close {
        img {
            background-color: hsla(0, 0%, 0%, 0.08);
        }
    }
}
.menu {
    background-color: $color-neutral;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: rem(37);
    min-height: rem(291);
    border-radius: rem(4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rem(0) rem(10) rem(20) hsla(220, 10%, 35%, 0.226);
    transition: all 1s linear;
    padding-top: rem(20);

    @include media-query(tablet) {
        background-color: transparent;
        position: initial;
        flex-direction: row;
        margin-top: rem(0);
        min-height: rem(0);
        border-radius: rem(0);
        right: auto;
        left: auto;
        box-shadow: none;
        padding-top: rem(0);
    }

    &__item {
        margin: rem(0) rem(16.5);
        flex: 1;
        text-align: center;

        @include media-query(tablet) {
            display: inline-flex;
        }
        
        a {
            color: $color-font;
            font-weight: $weight-bold;

            &:hover {
                transition: 0.5s;
                color: #242d5277;
            }
        }
    }
}

.menu--active {
    display: none;

    @include media-query(tablet) {
        display: block;   
    }
}

.overlay {
    position: fixed;
    max-width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, #00000000, #000000);
    transition: 1s;

    @include media-query(tablet) {
        display: none;
    }
}

// ========== Hero

.hero {
    max-width: 100%;
    min-height: rem(0);

    &__inner {
        max-width: $width-max;
        margin: $center-section;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @include media-query(tablet) {
            // background-color: red;
            flex-direction: row-reverse;
            min-height: rem(640);
        }
    }

    &__image{
        min-height: rem(315);
        display: flex;
        align-items: center;
        @include media-query(tablet) {
            flex: 1;
        }
    }

    &__content {
        min-height: rem(409);
        text-align: center;

        @include media-query(tablet) {
            flex: 1;
            min-height: rem(0);
            text-align: left;
            align-content: center;
        }

        p {
            padding: rem(10) rem(0) rem(29) rem(0);

            @include media-query(tablet) {
                margin: rem(12) rem(0);
                padding-right: rem(200);
            }
        }
    }
}

.hero__background {
    background-color: red;
    width: 100%;
}



// ========== Section: What’s different about Manage?
.explainer {
    max-width: 100%;
    min-height: rem(0);
  
    &__inner {
        max-width: $width-max;
        min-height: rem(0);
        margin: $center-section;
        display: flex;
        flex-direction: column;
        
        @include media-query(tablet) {
            flex-direction: row;
        }
    }
    &__area1 {
        text-align: center;
        padding: $section-padding;

        @include media-query(tablet) {
            text-align: left;
            flex: 1;
        }
  
        h2 {
            margin: rem(20) rem(30);
            @include media-query(tablet) {
                margin: rem(20) rem(0);
            }
        }
        p {
            @include media-query(tablet) {
                padding: rem(10) rem(200) rem(0) rem(0);
            }
        }
    }
  
    &__area2 {

        @include media-query(tablet) {
            flex: 1;
        }
  
        &-service {
            margin: rem(40) rem(0);
  
            h3 {
                display: block;
                line-height: rem(35);
                margin-bottom: rem(10);
                background-color: hsl(12, 87%, 94%);
                margin-left: rem(20);
                border-radius: rem(20) rem(0) rem(0) rem(20);
                @include media-query(tablet) {
                    background-color: transparent;
                }
            }
            p {
                padding: rem(0) rem(20);

                @include media-query(tablet) {
                    padding-top: rem(20)
                }
            }
        }
    }
  }
  
  .custom__number {
    background-color: $color-accent;
    color: $color-neutral;
    padding: rem(5) rem(20) rem(6) rem(20);
    margin-right: rem(10);
    border-radius: rem(20);
    font-size: rem(16);
    line-height: normal;
  }

  .jump--top {
      position: fixed;
      bottom: 0;
      right: 0;
      margin: rem(15);
      width: rem(50);
      height: rem(50);
      background-color: $color-accent;
      border-radius: 100%;
      box-shadow: rem(5) rem(5)rem(50) rgba(0, 0, 0, 0.247);
      cursor: pointer;
      display: grid;
      place-items: center;
      animation: jump 3s ease-in-out;

      @include media-query(tablet) {
        margin: rem(15);
      }

      @keyframes jump {
          0% {transform: rotateZ(0deg);}
          100% {transform: rotateZ(720deg);}
      }

      i {
          font-size: rem(30);
          color: $color-neutral;
      }
  }

// ========== Testimonial Section

.testimonial {
    max-width: 100%;
    min-height: rem(582);
    // background-color: red;
    // padding: $section-padding;

    &__heading {
        text-align: center;
        padding: rem(40) rem(0) rem(60) rem(0);
        @include media-query (tablet) {
            padding-top: rem(150);
        }
    }

    &__bio {
        display: flex;
        justify-content: center;
        text-align: center;
        img {
            width: rem(72);
            height: rem(72);
            border-radius: 100%;
            transform: translateY(rem(-36));
            position: absolute;
        }
        p {
            font-weight: $weight-bold;
            transform: translateY(rem(36));
            padding: rem(15) rem(0) rem(20) rem(0);
        }
    }

    &__content {
        text-align: center;
        transform: translateY(rem(36));
        
        p {
            font-size: rem(14);
            line-height: rem(26);
            padding: rem(0) rem(10);
        }
    }

    &__button {
        text-align: center;
        padding: rem(20) rem(0) rem(50) rem(0);

        @include media-query (tablet) {
            padding-bottom: rem(178);
        }
    }

}
.slider {
    // background-color: red;
    position: relative;
    height: rem(284);
    max-width: 100%;
    overflow-y: scroll;
    z-index: 20;
    // padding-top: rem(300);
    // min-height: ;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.slider::-webkit-scrollbar {
    display: none;
}
.slide {
    // background-color: blue;
    // background-color: #97979713;
    height: rem(284);
    max-width: rem(340);
    margin: $center-section;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: rem(-170);
    display: flex;
    align-items: flex-end;

    @include media-query(tablet) {
        max-width: 34vw;
        margin-left: -16.5vw;
    }

    &__inner {
        // background-color: #97979718;
        background-color: $color-neutral;
        height: rem(248);
        max-width: rem(340);

        @include media-query(tablet) {
            max-width: 95%;
        }
    }
    
}

.slider__states--container {
    max-width: 100%;
    background-color: $color-bg;

    @include media-query(tablet) {
        display: none;
    }

    
}

.slider__states {
    // background-color: yellow;
    height: rem(50);
    max-width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $center-section;
}

.slider__state {
    height: rem(7);
    width: rem(7);
    background-color: $color-neutral;
    border-radius: 100%;
    border: rem(1) solid $color-accent;
    cursor: pointer;
}


// ========== Section: CTA

.cta {
    max-width: 100%;
    min-height: rem(405);
    background-color: $color-accent;
    display: flex;
    align-items: center;
    // padding: $padding-container;
    background-image: url(../images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-size: rem(100) auto;
    background-position: rem(0) rem(65);

    @include media-query(tablet) {
        padding: $section-padding;
        min-height: rem(220);
        background-image: url(../images/bg-simplify-section-desktop.svg);
        background-repeat: no-repeat;
        background-size: rem(1400) auto;
        background-position: rem(200) rem(-80);

    }
  
    &__inner {
        background-color: transparent;
        width: $width-max;
        min-height: rem(0);
        margin: $center-section;
        text-align: center;
        
        @include media-query(tablet) {
            display: flex;
            align-items: center;
            text-align: left;

            & > * {
                flex: 1;
            }

        }
  
        h2 {
          color: $color-neutral;
          font-size: rem(40);
          line-height: rem(50);
          margin: rem(20) rem(20) rem(40) rem(20);

          @include media-query(tablet) {
            margin: rem(0) rem(0) rem(0) rem(0);
          }
        }
    }
  }

  .cta__button {
      @include media-query(tablet) {
          text-align: right;
      }
  }

  .btn--cta {
      background-color: $color-neutral;
      color: $color-accent;

      &:hover {
          transition: 0.5s;
          color: $color-accent-active;
          background-color: $color-neutral;
      }
  }



  // ========= Footer
.footer {
    background-color: $color-footer-bg;
    max-width: 100%;
    min-height: rem(0);
    padding: rem(24);

    &__inner {
        max-width: $width-max;
        min-height: rem(0);
        margin: $center-section;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "foot1 foot1"
        "foot2 foot3"
        "foot4 foot4";
        grid-template-rows: auto;

        @include media-query(large-mobile) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "foot1 foot1 foot1"
            "foot2 foot3 foot4"
        }

        & > * {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.foot--1 {
    grid-area: foot4;
    flex-direction: column-reverse;
    min-height: rem(100);
    padding-top: rem(24);  
}
.foot--2 {
    grid-area: foot2;
}
.foot--3 {
    grid-area: foot3;
}
.foot--4 {
    grid-area: foot1;
    padding: rem(25) rem(0);
}
.foot--logo {
    align-self: center;
    padding: rem(40) rem(0) rem(25) rem(0);
    @include media-query(large-mobile) {
        align-self: flex-end;
    }
}
.foot--icons {
    display: flex;
    justify-content: space-between;
    img {
        height: rem(32);
        width: auto;

        &:hover {
            color: $color-accent;
            transition: 0.5s ease-in-out both;
            transform: translateY(rem(-5));
        }
    }
}
.foot--form {
    display: flex;

    &__input {
        flex: 10;
    }

    &__button {
        flex: 1;
    }
}
.foot--input{
    display: block;
    background-color: $color-neutral;
    height: rem(44);
    width: 100%;
    border-radius: rem(40);
    font-size: rem(13);
    padding: rem(0) rem(10);
    border-color: $color-accent;
}
.foot--btn {
    width: rem(64);
    height: rem(44);
    padding: rem(0);
    margin-left: rem(8);
    border-color: transparent;
    cursor: pointer;
}

.email--error {
    display: none;
    transition: 0.5s;
    transform: translateX(rem(50));
    font-size: rem(10);
    font-style: italic;
    color: hsl(0, 88%, 59%);
    padding-left: rem(15);
}
.error--active {
    display: block;
    animation: error 0.5s both;

    @keyframes error {
        0% {transform: translateX(rem(50));}
        20% {transform: translateX(rem(0));}
        40% {transform: translateX(rem(5));}
        60% {transform: translateX(rem(0));}
        80% {transform: translateX(rem(3));}
        100% {transform: translateX(rem(0));}
    }
}

.foot--copyright {
    text-align: center;
    font-size: rem(13);
    color: rgba(255, 255, 255, 0.397);

    @include media-query(large-mobile) {
        text-align: right;
    }
}
.copyright__tablet {
    display: none;
}
.foot--menu {
    padding-left: rem(25);

    @include media-query(large-mobile) {
        padding-left: rem(0);
    }
    a {
        color: $color-neutral;
        font-size: rem(15);
        font-weight: $weight-regular;
        line-height: rem(35);

        &:hover {
            transition: 0.5s;
            color: $color-accent;
        }
    }
}

@include media-query(tablet) {
    .footer {
        min-height: rem(250);
        background-color: $color-footer-bg;
        display: flex;
        align-items: center;

        &__inner {
            width: $width-max;
            margin: $center-section;
            display: flex;

            & > * {
                flex: 1;
            }
        }
 }
  .foot {
      padding: rem(20);
  }

  .foot--1, .foot--4 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .foot--1 {
      flex: 1;
  }
  .foot--2 {
      .foot--menu {
          padding-left: rem(40);   
      }
  }
  .foot--logo {
      padding: rem(0);
      align-self: flex-start;
  }
  .foot--copyright {
      text-align: right;
  }
  .foot--4 {
      flex: 2;
  }
  .copyright__mobile {
    display: none;
  }
  .copyright__tablet {
    display: block;
  }
  .foot--icons {
    img {
        height: rem(20);
        width: auto;
    }
}
}























// =========== Cookies

.cookies {
    background-color: $color-accent;
    min-height: rem(50);
    max-width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    left: 0;
    display: none;

    @include media-query(tablet) {
        display: flex;
    }

    &__inner {
        max-width: $width-max;
        margin: $center-section;
        text-align: center;
    }

    p {
        color: $color-neutral;
    }

    a {
        color: $color-footer-bg;
        text-decoration: underline;
    }
}

.section__bg {
    @include media-query(tablet) {
        max-width: 100%;
        background-image: url(/images/bg-tablet-pattern-3.svg);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: rem(700) auto;
        background-position: rem(-300) rem(300);
    }
}